.icons_div{
    display: flex;
    justify-content: space-evenly;
    background-color: #1b1b1b;
    padding: 20px;
}
.icon_background{
   background-color: #303030;
   
   padding: 40px 50px;
        border-radius: 500px;
}
p{
    font-size: 12px;
    color: #bfbfbf;
}

